.about_info {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


#about_project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#about_project_description {
  
}

#printrbot_simple_pro {
  -ms-transform: translate(25px, 0px); /* IE 9 */
  -webkit-transform: translate(25px, 0px); /* Safari */
  transform: translate(25px, 0px);
}
