.modal_body_container {
  margin: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal_body_control {
  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal_body_textarea {
  padding: 0;
  margin: 0;
  border-width: 0.1px;
}

#modal-dialog-form {
  margin: 0;
  padding: 0;
}
