
/* Background of dialog */
#modal-dialog {
  display: none;  /* hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */

  background-color: rgba(43, 48, 56,0.4); /* Whitek w/ opacity */

  overflow: hidden; /* no scrolling */
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-content: center;
  align-items: center;
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;

    /* Defines size of Dialog */
    min-width: 20%;
    min-height: 10%;

    width: 80%;
    height: 40%;

    margin-left: 14%;

    display: flex;
    flex-direction: column;
}

#modal-header {
  width: 100%;
  height: 50px;
  padding: auto;
  background-color: #3e3e3e;
  color: white;
}

#modal-title {
  margin-left: 15px;
}

#modal-body {
  /* background-color: pink;        for testing */
  flex-grow: 1;
  margin: 10px;
}

#modal-footer {
  width: 100%;
  height: 50px;
  /* background-color: green;       for testing */

  /* left justify and vertically centers cancel & save buttons */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ************************* BUTTONS */

/* Button on browser that opens the dialog */
#openBtn {
  color: #C2C2C2;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#openBtn-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 37px;
  color: #555;
}

/* Cancel, save buttons, delete */
.modalBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  line-height: 1.5em;

  text-indent: 0px;
  text-shadow: none;
  border: 0;

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
}

.modalBtnIcon {
  margin-right: 5px;
}

#cancelBtn {
  background-color: #3e3e3e;
  color: white;
}

#okBtn {
  background-color: #F09500;
  color: white;
}

/* body textboxes, labels  */
.modal_body_label {

}

.modal_body_textbox {

}

.modal_body_textarea {
  min-width: 50%;
  min-height: 100px;
  width: 100%;
  height: 40%;
}
