@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }


h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 36px;
  margin-top:0;
}

html {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  font-size: 12px;
  /*color: #555; */
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.column {
  float: left;
}

.browser {
  margin-left: 10px;
  margin-top: 10px;
  height: 100%;
  width: 100%;  
}
