
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }


h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 36px;
  margin-top:0;
}

html {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  font-size: 12px;
  /*color: #555; */
  height: 100%;
  margin: 0;
}

.printrbot_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.column {
  float: left;
}

.browser {
  margin-left: 10px;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

.titles {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #555;
  font-size: 36px;
}

.subtitles {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #555;
  font-size: 24px;
}

.menus {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #555;
  font-size: 16px;
  font-weight: normal;
}

.printrhub_btns {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 20px;
  line-height: 1.5em;

  text-indent: 0px;
  text-shadow: none;
  border: 0;

  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;

  cursor: pointer;
}

.printrhub_btn_icons {
  margin-right: 5px;
}
