.searchbar {
  height: 25px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;

  border-radius: 3px;

  display: flex;
  flex-direction: row;
}

.searchbar a {
  color: #555;
  font-size: 18px;
  padding: 4px 12px 0 0;
}

.searchbar a i {
  transform: translate(6px, 0);
}

.searchbar input.form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.searchbar .input-group-addon {
  border: none;
  background-color: white;
  border-radius: 0;
  color: #999;
}

.search-field {
  float: left;
  background: white;
  padding: 0;
}

#magnify-glass {
  text-align: center;
  width: 30px;
  height: 100%;
  line-height: 1.5em;
}

/* search input textbox  */
.searchbar input {
  height: 100%;
  width: 100%;
}

input.search-field {
  text-indent: 10px;
}

input.search-field:focus{
    outline: none;
}

button.search-field {
  padding: 0;
  border: none;
  background: none;
  height: 100%;
  margin: 0;
  color: gray;
}

/* styling JUST for placeholder text in searchbar */
.search-field::-webkit-input-placeholder {
   text-align: left;
   text-indent: 10px;
}

.search-field:-moz-placeholder { /* Firefox 18- */
   text-align: left;
   text-indent: 10px;
}

.search-field::-moz-placeholder {  /* Firefox 19+ */
   text-align: left;
   text-indent: 10px;
}

.search-field:-ms-input-placeholder {
   text-align: left;
   text-indent: 10px;
}
