.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #616161;
  font-size: 1.6em;
  width: 12%;
  max-width: 100px;
  height: 100%;
  overflow-x: hidden;
}

.sidebar-item {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;

  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.sidebar-item:hover {
  color: white;
  background-color: #ED9419;
}
