<!DOCTYPE html>
<html lang="en">
  <head>
    <title> This is not Printrbot Cloud </title>
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/Printrhub.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
	<ul>
	  <li><a href="/">
	      <img src="/plugin/Printrhub/static/img/files.svg"> </img>
	  </a></li>
	  <li><a href="/plugin/Printrhub/status?apikey=">
	      <img src="/plugin/Printrhub/static/img/status.svg"> </img>
	  </a></li>
	  <li><a href="/plugin/Printrhub/materials?apikey=">
	      <img src="/plugin/Printrhub/static/img/materials.svg"> </img>
	  </a></li>
	  <li><a href="/plugin/Printrhub/settings?apikey=">
	      <img src="/plugin/Printrhub/static/img/settings.svg"></img>
	  </a></li>
	  <li><a href="/plugin/Printrhub/about?apikey=">
	      <img src="/plugin/Printrhub/static/img/about.svg"></img>
	  </a></li>
	</ul>
      </div> <!-- sidebar --> 
      <div class="browser"> 
	<div id="printrbar">
	  <h1> PRINTER STATUS </h1>
	</div> <!-- printrbar -->
	<div id="content">
	  <p> This is not Printrhub. It doesn't really look like it either</p>
	  <p> Printer status should probably go here. </p>
	  <p> And a Print button. Is it asking too much to want a Print button?</p>
	</div> <!-- content -->
      </div> <!-- browser --> 
    </div> <!-- container -->
  </body>
</html>
