{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

<div class="browser column">
  {% set printrbar_title = 'SETTINGS PRINTRHUB' %}
  {% include 'html/printrbar.jinja2' %}
  <p> This page is for settings and system configuration. </p>
  <p> Right now, you can use this button to revert to the vanilla
  OctoPrint UI: </p>
  <div id="form"> <!-- form -->
    <form method="post" action="toggleUI?apikey=">
      <button type="submit">Disable Printrhub UI</button>
    </form>
  </div> <!-- form -->
</div>

{% endblock %}

