{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

<div class="browser column">

  {% set printrbar_title = 'ABOUT PRINTRHUB' %}
  {% include 'html/printrbar.jinja2' %}

</div>

{% endblock %}
