<div class="browser column">

  {% set printrbar_title = 'PROJECTS LIBRARY' %}
  {% include 'html/printrbar.jinja2' %}
  <div class="searchbar">
    <input type="text" class="form-control search-field" placeholder="search">
  </div>

  <div id="content">

    <h1>Number of files: {{files['local']|length}}</h1>

    {% for file in files['local'] %}
      <div class="file-item">

        <div class="file-item-preview">
          <img class="file-image" src="/plugin/Printrhub/static/img/noimage_thumb.png" /> </img>
        </div>
        <div class="file-item-bar">
          <span class="file-item-bar-filename">
            <strong>{{file}}</strong>
          </span>
        </div>

      </div>
    {% endfor %}

    <div class="create-project-footer">
        <div class="project-name">Create Project</div>
    </div>

  </div> <!-- content -->

  <div id="form">
    <form action="plugin/Printrhub/upload?apikey=" method="post" enctype="multipart/form-data">
      <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file"/>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </div> <!-- form -->

</div> <!-- browser -->
