<!DOCTYPE html>
<html lang="en">
  <head>
    <title> This is not Printrbot Cloud </title>
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/Printrhub.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
	<ul>
	  <li><img src="/plugin/Printrhub/static/img/files.svg"> </img></li>
	  <li><img src="/plugin/Printrhub/static/img/status.svg"> </img></li>
	  <li><img src="/plugin/Printrhub/static/img/materials.svg"> </img></li>
	  <li><img src="/plugin/Printrhub/static/img/about.svg"></img></li>
	</ul>
      </div> <!-- sidebar --> 
      <div class="browser"> 
	<div id="printrbar">
	  <h1> SYSTEM SETTINGS </h1>
	</div> <!-- printrbar -->
	<div id="content">
	  <p> This is not Printrhub. It doesn't really look like it either</p>
	  <p> System settings should probably go here. </p>
	  <p> Pity we don't have any. </p>
	</div> <!-- content -->
      </div> <!-- browser --> 
    </div> <!-- container -->
  </body>
</html>
