<div class="browser column">

  {% set printrbar_title = 'PROJECTS LIBRARY' %}
  {% include 'html/printrbar.jinja2' %}

  <div class="searchbar">
    <input type="text" class="form-control search-field" placeholder="search">
    <span class="input-group-addon">
      <button class="search-field">
        <i id="magnify-glass" class="search-field fa fa-search fa-lg"></i>
      </button>
    </span>
  </div>

  <div id="content">

    <h1>Number of files: {{files['local']|length}}</h1>

    <div class="file-container" >
      <div class="file-item create-project-file-item">
        <div class="create-project-file">

          {% set dialog_title = 'CREATE PROJECT' %}
          {% set modal_dialog_body_file = 'modal_dialogs/modal_dialogs_body_create_project.jinja2' %}
          {% include 'modal_dialogs/modal_dialog_container.jinja2' %}

        </div>
      </div>

      {% for file in files['local'] %}
        <div class="file-item">

          <div class="file-item-preview">
            <img class="file-image" src="/plugin/Printrhub/static/img/noimage_thumb.png" />
          </div>
          <div class="file-item-bar">
            <span class="file-item-bar-filename">
              <strong>{{file}}</strong>
            </span>
          </div>

        </div>
      {% endfor %}
    </div><!-- end of file-container -->

  </div> <!-- content -->

  {% set browser_form_action = 'plugin/Printrhub/upload?apikey=' %}
  {% set browser_form_method = 'post' %}
  {% set browser_form_enctype = 'multipart/form-data' %}
  {% include 'html/browser-form.jinja2' %}

</div> <!-- browser -->
