{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

<div class="browser column">

  {% set printrbar_title = 'PRINTER STATUS' %}
  {% include 'html/printrbar.jinja2' %}
  <p> Printer status: {{printer_data["state"]["text"]}} </p>
  <p> Current file: {{printer_data["job"]["file"]["name"]}} </p>
  <p> Estimated Print Time: {{printer_data["progress"]["printTime"]}} </p>
  <p> Estimated Time Remaining: {{printer_data["progress"]["printTimeLeft"]}} 

{% if printer_data["job"]["file"]["name"] %}
  <div id="form">
    <form method="post" action="startPrint?apikey=">
      <button type="submit">Start Printing</button>
    </form>
  </div>  <!-- form -->
{% endif %} 

</div> <!-- browser column --> 

{% endblock %}
