<div class="browser column">

  {% set printrbar_title = 'Projects Library' %}
  {% include 'html/printrbar.jinja2' %}

  <div class="searchbar">
    <input type="text" class="form-control search-field" placeholder="search">
    <span class="input-group-addon">
      <button class="search-field">
        <i id="magnify-glass" class="search-field fa fa-search fa-lg"></i>
      </button>
    </span>
  </div>

  <div id="content">

    <h1 class="titles">Number of files: {{files['local']|length}}</h1>

    <div class="file-container" >
      <div class="file-item create-project-file-item">
        <div class="create-project-file">

          {% set dialog_title = 'Create Project' %}
          {% set dialog_open_button_text = 'Create Project' %}
          {% set browser_form_action = 'plugin/Printrhub/upload?apikey=' %}
          {% set browser_form_method = 'post' %}
          {% set browser_form_enctype = 'multipart/form-data' %}
          {% set modal_dialog_body_file = 'modal_dialogs/modal_dialogs_body_create_project.jinja2' %}
          {% include 'modal_dialogs/modal_dialog_container.jinja2' %}

        </div>
      </div>

      {% for file in files['local'] %}
        <div class="file-item">

          <div class="file-item-preview">
            <!-- Fixme: need to check for broken image links here -->
            <img class="file-image" src="/plugin/Printrhub/static/img/{{file}}.png" />
          </div>

          <div class="file-item-bar">
            <span class="file-item-bar-filename menus">
              <strong>{{file}}</strong>
              <form method="post" action="/plugin/Printrhub/startSlice?fileName={{file}}&apikey=">
                <button type="submit" class="printrhub_btns" >
                  <i class="fas fa-cut printrhub_btn_icons"></i>Slice-n-Load
                </button>
              </form>
            </span>
          </div>

        </div>
      {% endfor %}
    </div><!-- end of file-container -->

  </div> <!-- content -->

</div> <!-- browser -->

<meta id="my-data" content="{{files['local']|length}}" >

<script>
  var meta = document.getElementById("my-data");
  var numFilesMeta = parseInt(meta.content);

  async function pollNumFiles() {
    const numFiles = await Printrhub.getNumberOfFiles();

    if (numFiles !== numFilesMeta ) {
      alert(`${meta.content} ${numFiles}`);
      location.reload(true);
    }

  }

  document.onload = pollNumFiles();
</script>
