{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

<div class="browser column">

  {% set printrbar_title = 'PRINTER STATUS' %}
  {% include 'html/printrbar.jinja2' %}
  
  <div class="status_info">
    <div class="printrhub_text"> 
      <p> Printer status: {{printer_data["state"]["text"]}} </p>
      <p> Current file: {{printer_data["job"]["file"]["name"]}} </p>
      <p> Estimated Print Time: {{printer_data["progress"]["printTime"]}} </p>
      <p> Estimated Time Remaining:
    {{printer_data["progress"]["printTimeLeft"]}}</p>

      {% if printer_data["job"]["file"]["name"] %}
      <div id="form">
        <form method="post" action="startPrint?apikey=">
          <button type="submit" class="printrhub_btns">Start Printing</button>
        </form>
      </div>  <!-- form -->
      {% endif %} 

    </div> <!-- printrhub_text -->
  </div> <!-- status_info --> 
</div> <!-- browser_column --> 

{% endblock %}
