<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Printrbot</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/Printrhub.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/file-browser.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/searchbar.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/create-material-button.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/printrbar.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/browser-form.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/modal-dialog.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/Printrhub/static/css/modal-dialog-create-project.css" />
  </head>

  <body>
    <div class="printrbot_container">

      {% include '/html/sidebar.jinja2' %}

      <!-- This empty space is for the sidebar, to maintain a fixed margin  -->
      <!--<div id="EMPTY-SPACE-FOR-SIDEBAR" >&nbsp;</div>-->

      {% block browser_container %}

        {% include 'printrhub_file-browser.jinja2' %}

      {% endblock %}

    </div> <!-- container -->

  </body>
</html>
