
{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

<div class="browser column">

  {% set printrbar_title = 'MY MINI FACTORY COLLECTIONS' %}
  {% include 'html/printrbar.jinja2' %}

  <div class="login-header">
    <img src="/images/mmfm.png" style="margin:10px auto 30px">
  </div>

</div>

{% endblock %}
