#browser-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#browser-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

#browser-form-choose-file {
  display: flex;
  flex-direction: row;
  float: left;
  margin-right: 20px;
}

.browser-form-components {
  margin-right: 10px;
}
