{% set isCancelBtnExists = true %}
{% set isOkBtnExists = true %}

<!-- Launches dialog -->
<button type="button" id="openBtn" class="btn btn-primary">
  <i class="fa fa-check"></i>
  OPEN
</button>

<div id="modal-dialog">
  <div id="modal-content">

    <!-- HEADER -->
    <div id="modal-header">
      <h4 id="modal-title">{{dialog_title}}</h4>
    </div>

    <div id="modal-body">
      {% include modal_dialog_body_file %}
    </div>

    <!-- FOOTER -->
    <div id="modal-footer">
      <!-- CANCEL BUTTON -->
      {% if isCancelBtnExists %}
      <button type="button" id="cancelBtn" class="modalBtn btn btn-default" >
        <i class="modalBtnIcon fa fa-times"></i>Cancel
      </button>
      {% endif %}

      <!-- OK BUTTON -->
      {% if isOkBtnExists %}
      <button type="button" id="okBtn" class="modalBtn btn btn-primary save">
        <i class="modalBtnIcon fa fa-check"></i>Save
      </button>
      {% endif %}
    </div>

  </div>
</div>

<script>
  var modalDialog = document.getElementById('modal-dialog');
  var openBtn = document.getElementById("openBtn");
  var cancelBtn = document.getElementById("cancelBtn");

  openBtn.onclick = function() {
      modalDialog.style.display = "flex";
  }

  cancelBtn.onclick = function() {
      modalDialog.style.display = "none";
  }

  window.onclick = function(event) {
      if (event.target == modalDialog) {
          modalDialog.style.display = "none";
      }
  }
</script>
