
<div class="modal_body_container">

  <div class="modal_body_control">
    <div class="modal_body_label">Project Name</div>
    <input class="modal_body_textbox" />
  </div>

  <div class="modal_body_control">
    <div class="modal_body_label">Description</div>
    <textarea class="modal_body_textarea"></textarea>
  </div>

</div>
