
{% extends 'printrhub_files.jinja2' %}

{% block browser_container %}

  <div class="browser column">

    {% set printrbar_title = 'THINGIVERSE' %}
    {% include 'html/printrbar.jinja2' %}

    <div class="project-block connect col-lg-2 col-md-3 col-sm-3 col-xs-6">
      <div class="preview-block">
        <img src="/plugin/Printrhub/static/img/connect_thingiverse.svg" style="width: 100%">
      </div>
      <div class="project-footer">
        <div class="project-name">CONNECT THINGIVERSE</div>
      </div>
    </div>

  </div>

{% endblock %}
