<div class="browser column">

  <div id="browser-form">
    <form action="{{browser_form_action}}" method="{{browser_form_method}}" enctype="{{browser_form_enctype}}">
      <div id="browser-form-container" >

        <div id="browser-form-choose-file">
          <label class="browser-form-components" for="file">Choose a file to upload:</label>
          <input class="browser-form-components" type="file" id="file" name="file"/>
        </div>

        <div>
          <button>Submit</button>
        </div>

      </div>
    </form>
  </div> <!-- form -->

</div>
