
<div class="sidebar column">
  <ul>
    <!-- file -->
    <li>
      <a href="">
        <div class="sidebar-item tooltip">
          <i class="fas fa-cube fa-2x"></i>
        </div>
      </a>
    </li>
    <!-- status -->
    <li>
      <a href="">
        <div class="sidebar-item">
          <!--<i class="fas fa-stopwatch fa-2x"></i>-->
          <img src="/plugin/Printrhub/static/img/status.svg" />
        </div>
      </a>
    </li>

    <!-- Materials -->
    <li>
      <a href="materials.jinja2">
        <div class="sidebar-item">
          <img src="/plugin/Printrhub/static/img/materials.svg" />
        </div>
      </a>
    </li>
    <!-- about -->
    <li>
      <a href="information.html">
        <div class="sidebar-item">
          <!--<i class="fas fa-info-circle fa-2x"></i>-->
          <img src="/plugin/Printrhub/static/img/about.svg" />
        </div>
      </a>
    </li>

  </ul>
</div> <!-- sidebar -->
