
<div class="sidebar column">
  <ul>

    <!-- ********************************** file -->
    <li>
      <a href="/">
        <div class="sidebar-item tooltip">
          <i class="fas fa-cube fa-2x"></i>
        </div>
      </a>
    </li>

    <!-- ********************************** settings -->
    <li>
      <a href="/plugin/Printrhub/settings?apikey=">
        <div class="sidebar-item">
          <!--<i class="fas fa-stopwatch fa-2x"></i>-->
          <i class="fas fa-wrench fa-2x"></i>
        </div>
      </a>
    </li>

    <!-- ********************************** status -->
    <li>
      <a href="/plugin/Printrhub/status?apikey=">
        <div class="sidebar-item">
          <!--<i class="fas fa-stopwatch fa-2x"></i>-->
          <i class="fas fa-thermometer-half fa-2x"></i>
        </div>
      </a>
    </li>

    <!-- ********************************** Materials -->
    <li>
      <a href="/plugin/Printrhub/materials?apikey=">
        <div class="sidebar-item">
          <img src="/plugin/Printrhub/static/img/materials_reel3b.svg" />
        </div>
      </a>
    </li>


    <!-- DISABLING MINI FACTORY & THINGIVERSE FROM SIDEBAR FOR TRADESHOW -->

    <!-- ********************************** My Mini-Factory -->
    <!-- Suppress MiniFactory
    <li>
      <a href="/plugin/Printrhub/minifactory?apikey=">
        <div class="sidebar-item" id="sidebar-item-minifactory">
          <img src="/plugin/Printrhub/static/img/MyMiniFactory.svg" style="width:30px;">
        </div>
      </a>
    </li>
    -->
    <!-- ********************************** Thingiverse -->
    <!-- Suppress Thingiverse
    <li>
      <a href="/plugin/Printrhub/thingiverse?apikey=">
        <div class="sidebar-item" id="sidebar-item-thingiverse">
          <img src="/plugin/Printrhub/static/img/thingiverse.svg" style="width:40px;">
        </div>
      </a>
    </li>
    -->
    <!-- ********************************** about -->
    <li>
      <a href="/plugin/Printrhub/about?apikey=">
        <div class="sidebar-item" id="sidebar-item-about">
          <i class="fas fa-info-circle fa-2x"></i>
        </div>
      </a>
    </li>

  </ul>
</div> <!-- sidebar -->
